* {
    font-family: 'SFPro-Regular', 'PingFang-Regular';
}

@media screen and (max-width: 1020px) {
    div[dock] {
        transform: translateY(0) scale(0.9);
    }
}
@media screen and (max-width: 900px) {
    div[dock] {
        scale: 0.8;
    }
}
@media screen and (max-width: 800px) {
    div[dock] {
        scale: 0.7;
    }
}
@media screen and (max-width: 700px) {
    div[dock] {
        scale: 0.6;
    }
}
@media screen and (max-width: 600px) {
    div[dock] {
        scale: 0.5;
    }
}

body {
    height: auto;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

hr {
    background: #a8a8a8ac;
    border-radius: 0.5px;
    border: none;
    margin: 0 5px;
    height: 37.5px;
    width: 1px;
}

div[appname] {
    display: none;
    position: absolute;
    padding: 2.5px 10px;
    border-radius: 5px;
    width: auto;
    height: auto;
    z-index: 1024;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
}

div[appname]::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -7.5px;
    transform: translateX(-50%) rotate(180deg);
    border-style: solid;
    border-width: 0 7.5px 7.5px 7.5px;
    border-color: transparent transparent rgba(255, 255, 255, 0.5) transparent;
}

div[dock] {
    position: absolute;
    width: auto;
    height: auto;
    border-radius: 16px;
    background: #f6f6f658;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    border: 0.4px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 36px #000;
    padding: 4px;
    padding-bottom: 7px;
    bottom: 2.5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transform: translateY(120%);
    transition: transform 0.6s ease-out, scale 0.2s ease, bottom 0.2s ease;
}

img {
    width: 50px;
    height: 50px;
}

p {
    margin: 0;
}