@font-face {
    src: url(../Font/sf-pro-display_regular.woff2);
    font-family: 'SFPro-Regular';
}

@font-face {
    src: url(../Font/PingFangSC-Regular.woff2);
    font-family: 'PingFang-Regular';
}

@font-face {
    src: url(../Font/sf-pro-display_semibold.woff2);
    font-family: 'SFPro-Bold';
}

@font-face {
    src: url(../Font/PingFangSC-Semibold.woff2);
    font-family: 'PingFang-Bold';
}

@font-face {
    src: url(../Font/PingFangSC-Light.woff2);
    font-family: 'PingFang-Light';
}