* {
    font-family: 'SFPro-Regular', 'PingFang-Regular';
}

body {
    height: 100vh;
    overflow: hidden;
    opacity: 0;
    animation: fade 1s ease forwards;
    margin: 0;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes scale {
    0% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

div[launchpad] {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(7, minmax(0, 100px));
    grid-template-rows: repeat(5, minmax(0, 100px));
    gap: 2vh 3vw;
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    transform-origin: left right;
    padding: 10vh 13.5vw;
    animation: scale 0.75s ease forwards;
}

div[bg] {
    background-image: url(../Image/Wallpaper.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    filter: brightness(80%);
}

div[container] {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
}

div[container] img {
    width: 5vw;
    height: auto;
}

div[container] p {
    font-size: 14px;
    color: white;
    margin-top: 5px;
    margin-bottom: 0;
}

div[search] {
    width: 15vw;
    height: 1.5vw;
    position: absolute;
    top: 3vw;
    left: calc(50vw - 15vw / 2);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    border: 0.4px solid rgba(255, 255, 255, 0.2);
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

div[search] img {
    filter: invert(100%);
    width: 10px;
    height: 10px;
}

div[search] p {
    text-align: center;
    margin: 0;
    color: white;
    opacity: 0.4;
    font-size: 15px;
    margin-left: 7.5px;
    font-family: 'PingFang-Light';
}