* {
    --grayboot-bg: #bfbfbf;
    --grayboot-color: #777;
    --grayboot-process-bg: #aaa;
    --boot-bg: #000;
    --boot-color: #fff;
    --boot-process-bg: #373737;
    font-family: 'SFPro-Regular', 'PingFang-Regular';
    cursor: none !important;
    user-select: none;
    -webkit-user-select: none;
}

html {
    min-height: 100vh;
    background: var(--boot-bg);
    overflow: hidden;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background: var(--boot-bg);
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p[logo] {
    font-size: 96px;
    color: var(--boot-color);
    margin: 0;
    padding: 0;
    opacity: 0.92;
    margin-top: 25vh;
    visibility: hidden;
}

img[logo] {
    display: none;
    width: 96px;
    height: 96px;
    margin-top: 25vh;
}

div[frame] {
    max-width: 15%;
    min-width: 192px;
    height: 6px;
    margin-top: 25vh;
    border-radius: 10px;
    overflow: hidden;
    border: solid 0.4px #0005;
    visibility: hidden;
}

div[processframe] {
    width: 100%;
    height: 6px;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    background: var(--boot-process-bg);
}

div[process] {
    width: 0;
    height: 100%;
    background: var(--boot-color);
    transition: width 1.5s linear;
    border-radius: 0;
}

p[state] {
    display: none;
    color: var(--boot-color);
    text-align: center;
    margin: 0;
}