body {
    height: 100vh;
    background: url(../../../Library/CoreServices/DefaultDesktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}